{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="profile">
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">
                    {% if object.profile_picture %}
                        <img src="{{ object.profile_picture.url }}" alt="img8">
                    {% else %}
                        <img src="{% static '/images/person.png'%}" alt="img8">
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <p>{{ object.username }}</p>
                    {% if request.user == petstagramuser %}
                        <a href="{% url 'profile edit' pk=object.pk %}">
                            <img class="edit-img" src="{% static '/images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>
                        <a href="{% url 'profile delete' pk=object.pk %}">
                            <img class="bin-img" src="{% static '/images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                    {% endif %}
                </div>
                <div class="data">
                    <span>{{ total_photos}}</span>
                    <p>photos</p>
                    <span>{{ total_pets }}</span>
                    <p>pets</p>
                    <span>{{ total_likes_count }}</span>
                    <p>likes</p>
                </div>
                <h3 class="names">{{ object.get_user_name }}</h3>
                <p class="email">{{ object.email }}</p>
                <p class="gender">{{ object.gender }}</p>
            </div>
        </div>
        <!-- End Profile Personal Data Section -->
            <div class="pets">
                <div class="statuses">
                    {% for pet in object.pets.all %}
                            <div class="head-pet">
                                <div class="status">
                                    <div class="image">
{#                                        # that still doesn't work#}
                                        <a href="{% url 'details-pet' username=object.username pet_name=pet.slug %}">
                                            <img src="{{ pet.personal_photo.url }}" alt="pet img">
                                        </a>
                                    </div>
                                </div>
                                <p>{{ pet.name }}</p>
                            </div>
                    {% endfor %}
                </div>
            </div>

        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
            {% for photo in object.photo_set.all %}
                <a href="{% url 'details-photo' photo.pk %}">
                    <!-- Pet Photo -->
                    <img src="{{ photo.photo.url }}"
                         alt="pet img">
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}